body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.content-m {
  display: none;
}

.content2-m {
  display: none;
}

/* SECTION Checkbox Dezvolti */
.section-flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-left: 164px;
  padding-right: 164px;
  margin-top: 40px;

  /* background-color: purple; */
}

/* NAVIGATION */

.container {
  width: 95%;
}

.navBarHolder {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;

}

.magic-Logo {
  padding: 0%;
  display: flex;
}

.magic-Logo img {
  margin-top: 0px;
}

.navbar {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  padding-left: 164px;
  padding-right: 164px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
  width: 100%;
}

.navbar .nav-container li {
  list-style: none;
}

.header-button {
  text-decoration: none;
  color: white;
  font-size: 11px;
  padding: 0.8rem;
}

.header-description {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
  display: flex;
}

.header-button:hover {
  font-weight: bolder;
}

.navbar .menu-items {
  display: flex;
  align-items: center;
  margin-left: -40px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  font-size: 1.5rem;
  font-weight: 500;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  /* opacity: 60%; */
}

.div-gradient {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  /* Adjust width as needed */
  height: 100%;
  /* Full viewport height */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

/* HEADER */

header {
  min-height: 600px;
  padding-left: 164px;
  /* background-color: red; */
}

#headerDetails {
  z-index: 10;
  width: 541px;
}

#headerDetails h2 {
  font-size: 38px;
  font-family: K2D;
  font-weight: 700;
}

.semi-title {
  display: none;
  height: 25px;
  color: #FFF;
  text-align: center;
  font-family: K2D;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div_1_citeste_mai_mult img {
  display: none;
}

.header-wrap {
  margin-top: 130px;
  max-width: 600px;
  z-index: 0;
}

.header-wrap h2 {
  font-size: 26px;
  color: white;
  font-weight: 500;
  text-align: left;
}

.p {
  font-size: 20px;
}

hr {
  background-color: #ebbf44;
  width: 30%;
  height: 5px;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.div_1_citeste_mai_mult {
  height: 31px;
  margin-top: 50px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

}

.div_1_citeste_mai_mult span {
  border-radius: 19px;
  background: linear-gradient(to bottom, #edbd3a, #d0bb66, #eab932);
  padding: 10px 15px 10px 15px;
  display: inline-block;
  cursor: pointer;
  font-weight: bolder;
  font-family: Poppins;
  font-weight: 700;
  margin-left: 19px;
}




.dezvolti {
  width: 50%;
  display: flex;
  flex-direction: column;

}

.dezvolti h2 {
  font-family: K2D;
  font-size: 32px;
}

.dezvolti-flex {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.dezvolti-flex form {
  margin-top: 40px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.inputHolder {
  border-radius: 10px;
  overflow: hidden;
  gap: 8.16px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.dezvolti-wrap {
  position: relative;
  background-color: #414141;
  height: 30px;
  min-width: 430px;
  display: flex;
  align-items: center;
  padding: 8.997px 7.361px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 8.16px;
  font-family: Poppins;
  font-weight: 300;
  font-size: 19px;
}

.dezvolti-wrap label {
  /* padding-left: 10px; */
  text-align: left;
}

/* Hide the browser's default checkbox */

.dezvolti-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create a custom checkbox */

.checkmark {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 4.09px;
  border: 0.818px solid #A1A1A1;

}

/* On mouse-over, add a grey background color */
.dezvolti-wrap:hover input~.checkmark {
  background-color: #686767;
}

/* When the checkbox is checked, add a blue background */
.dezvolti-wrap input:checked~.checkmark {
  background-color: #ebbf44;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.dezvolti-wrap input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.dezvolti-wrap .checkmark:after {
  left: 17px;
  top: 17px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit-btn {
  background: linear-gradient(to bottom, #edbd3a, #d0bb66, #eab932);
  color: black;
  padding: 10px 30px;
  display: inline-block;
  text-decoration: none;
  border-radius: 19px;
  font-size: 24px;
  font-weight: 800;
  font-family: Poppins;
  margin-top: 50px;
  border: #ebbf44;
}

/* SECTION Traineri*/

.traineri {
  width: 50%;
  padding-bottom: 50px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: green; */
}

.traineri h2 {
  color: #FFF;
  text-align: center;
  font-family: K2D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin: 0px;
  line-height: normal;
}

.traineri p {
  margin-top: 0px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 442px;
}


.traineri-swiper {
  margin-top: 40px;
  overflow-x: hidden;
  width: 700px;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  display: flex;

}

.thubnail-trainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* .maskCoverTraineri {
  background: linear-gradient(90deg, rgb(1, 1, 1) 12%, rgba(38, 164, 215, 0) 50%, rgb(0, 0, 0) 88%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
} */

.maskCoverTraineri::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 2;
  left:0px
}

.maskCoverTraineri::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  content: "";
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 2;
  right:0px
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
}


.trainer-slide {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  width: 40%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.trainer-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}


.trainer-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 30px;
  z-index: 1;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: white;
}

.trainer-info h3 {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.trainer-info hr {
  height: 4px;
  border: none;
  background-color: #ebbf44;
  width: 50px;
}

.swiper-slide {
  filter: blur(4px);
}

.swiper-slide-active {
  filter: blur(0);
}

.swiper-pagination {
  position: static !important;
  margin-top: 10px;
}

.swiper-pagination span {
  background-color: #ebbf44;
  width: 11px;
  height: 11px;
}

.start-video {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0
}


/* SECTION TRAINER PRESENTATION */
.trainer-presentation {
  width: 100vw;
  height: 100vh;
  /* overflow-x: scroll; */
}

.list-trainers {
  position: relative;
  height: 80vh;

  padding-left: 164px;
  padding-right: 164px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
  /* background-color: red; */
}

.video-trainer iframe {
  width: 100%;
  height: 100%;
}

.list-trainers .video-trainer {
  position: relative;
  width: 326.153px;
  height: 523.762px;
  border-radius: 44.958px;
  box-shadow: -9.78px 9.78px 16.627px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  /* background-color: blue; */
}

/* SECTION Alegi*/

.alegeri {
  padding: 80px 0;
  position: relative;
  height: 100%;
  font-size: 20px;
  text-align: center;
}

.alegeri hr {
  margin: 30px auto 70px;
}

.alegi-swiper {
  overflow: hidden;
  width: 900px;
  height: 100%;
  margin: auto;
  mask-image: linear-gradient(to right,
      transparent 0%,
      black 20% 80%,
      transparent 100%);

}


.alegi-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 20px;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.alegi-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.alegi-slide {}

/* section Testimoniale */

.testimoniale {
  padding-inline: 164px
}

.testimoniale-wrap {
  width: 100%
}

.testimoniale-wrap h2 {
  color: #FFF;
  font-family: K2D;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.testimoniale-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-block: 30px;
  gap: 50px;

}

.testimonial-text {
  width: 500px;
  text-align: left;
}

.testimonial-text p {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100%
}

.testimoniale-flex img {
  width: 570px;
  height: 321px
}

/* PAGINA INSCRIERE*/

/* Form Section*/

.formular-text h2 {
  width: 90%;
  font-size: 28px;
  font-weight: normal;
  color: white;
  margin: 0px;
  font-weight: 400;
}

.formular-div {
  position: relative;
}

.input-box {
  background-color: transparent;
  border: #ebbf4480 2px solid;
  border-radius: 8px;
  padding: 10px 50px;
  color: gray;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  ;
}

.button-form {
  background-color: #ebbf44;
  color: black;
  padding: 10px 50px;
  display: inline-block;
  text-decoration: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  border: #ebbf44;
}

.button-form:hover {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  box-shadow: 0 0 50px #ebbf44;
}

.button-form:focus-visible {
  border: #ebbf44;
  box-shadow: 0 0 50px #ebbf44;
}

/* Customize the label (the container) */
.container2 {
  width: 80%;
  margin: 50px 0px 0px;
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkmark button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark2 {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 25px;
  width: 25px;
  background: black;
  border: 1px solid #ebbf44;
}

/* On mouse-over, add a grey background color */
.container2:hover input~.checkmark2 {
  background-color: black;
}

/* When the checkmark button is checked, add a blue background */
.container2 input:checked~.checkmark2 {
  background-color: #ebbf44;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked~.checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark2:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
  border: 1px solid #ebbf44;
}

/* PAGINA SUCCES*/

.success {
  background-image: url("img/baloon.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: 90%;
  height: 1049px;
  position: relative;
  z-index: 0;
}

.cover {
  /* background-color: red;
  opacity: 50%; */
  background: linear-gradient(180deg, rgb(1, 1, 1, 0) 1%, rgba(1, 1, 1, 0.7) 50%, rgb(0, 0, 0, 0) 95%);
  position: absolute;
  justify-self: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo-magic {
  width:135px;
  height:83px;
}

.contact-icon-text img{
  display:none;
}

.success-text {
  padding-top: 20%;
  width: 90%;
  margin: auto;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-text img {
  opacity: 80%;
  transition-duration: 300ms;
  border-radius: 130%;
}

.success-text img:hover {
  opacity: 100%;
}

.success-text h2 {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  width: 364px;

  font-weight: 300;

}

.btn-success {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  border-radius: 19px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  font-family: Poppins;
  border: 1px solid white;

}

/* PAGINA DESPRE */
.despre {
  display: flex;
  flex-direction: column;
  position: relative;
}

.despre-noi-video-holder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  height: 733px;
  width: 480px;
  border-radius: 20px;
  /* background-color: red; */
  box-shadow: 1px 0px 5px 3px #ebbf44;
  clip-path: inset(0px -40px -40px 0px)
}

.despre img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  box-shadow: 0 8px 28px 6px #ebbf4427, 0 8px 12px 0 #ebbf4447;
  box-shadow: 0px 0px 20px 10px #ebbf448e;
}

.despre h2 {
  color: #EBBF44;
  text-align: center;
  font-family: K2D;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  width: 368px;
  text-align: center;
  align-self: center;
}


/* PAGINA CURSURI */

.cursuri {
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cursuri h2 {
  color: #FFF;
  text-align: center;
  font-family: K2D;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 368px;
  margin: 0px;
}

.btn-curs {
  display: flex;
  align-items: center;
  background-color: #383333;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 24px;
  font-weight: normal;
  border: 2px solid #383333;
  margin-bottom: 10px;
  width: 224px;
  height: 72px;
  padding: 0px 15px;
  gap: 8px;

}

.btn-curs p {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* PAGINA UNIVERSUL */

.universul {
  padding: 50px 0;
  font-size: 20px;
  color: white;
  padding-inline: 164px;
}

.universul h2 {
  color: #EBBF44;
  font-family: K2D;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 50px;
}

.universul-option {
  display: flex;
  margin-top: 28px;
  margin-bottom: 28px;
}

.universul-option-p {
  display: flex;
  width: 731px;
  height: 80px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.universul-option-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.universul-option-logo-p {
  width: 160px;
  height: 47px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.universul-image-holder {
  width: 109px;
  height: 109px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
}

.universul-image-holder img {
  width: 100%;
  height: 100%;
}



/* PAGINA CONTACT */

.contact {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  text-align: left;
  width: 50%;
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact img {
  width: 24px;
  height: 24px;
  place-self: start;
  margin-top: 10px;
}

.contact h2 {
  width: 190px;
  height: 50px;
  flex-shrink: 0;
  color: #EBBF44;
  font-family: K2D;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  text-align: start;
}

.contact p {
  font-size: 32px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  flex-shrink: 0;
}

.manager-flex {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  text-align: left;
  margin-bottom: 80px;
  padding-right: 80px
}

.manager-flex-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.map {
  margin-top: 40px;
  width: 50%;
}

.map iframe {
  width: 100%;
  height: 600px;
}


/* PAGINA TERMENE */

.termene {
  padding: 50px 0;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 90%;
  margin: auto;
}

.termene h2 {
  color: #ebbf44;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

/* FOOTER */

footer {
  padding: 25px 25px;
  border-top: 1px solid #ebbf44;
  text-align: center;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}

.menu-footer li {
  list-style: none;
}

.menu-footer a {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}

.menu-footer a:hover {
  font-weight: bolder;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 39px;
}

/* index.html carrousel */

/* Mixin */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 70px;
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(255, 255, 255, .125);
  height: fit-content;
  margin: 0px;
  overflow: hidden;
  position: relative;
  width: 95%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  /* Invert gradient colors */
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  gap: 15px;
}

.slide {
  border-radius: 19px;
  height:380px;
   width:280px; 
}

@media screen and (max-width: 1350px) {
  .dezvolti {
    width: 40%;
  }

  .traineri {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1250px) {
  .universul h2 {
   text-align: center;
  }

  .contact {
    width: 100%;
    align-items: center;
  }

  .manager-flex{
    width: fit-content;
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
  }

  .section-flex {
    flex-direction: column;
    align-items: center;
  }

  .dezvolti {
    width: 100%;
    align-items: center;
  }

  .dezvolti-flex form {
    align-items: center;
  }

  .submit-btn {
    align-self: center;
    justify-self: center;
  }

  .footer-flex {
    width: 100%;
  }

  .formular {
    width: 50%;
  }

  .testimoniale-wrap {
    width: 100%;
  }

  .testimoniale-flex {
    width: 100%;
    /* flex-direction: column; */
  }

  .testimoniale-flex img {
    width: 470px;
    height: 260px
  }

  .testimonial-text p {
    font-size: 15px;
  }

  .testimonial-text hr{
    margin-block : 1px; 
  }

  .testimonial-text {
    width: 45%;
  }

  .universul-option {
    flex-direction: column;
  }

  .universul-option-p{
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .testimoniale-flex {
    width: 100%;
    flex-direction: column;
    gap:0px;
  }

  .testimonial-text {
    width: 100%;
    height: fit-content
  }

  .testimoniale-flex img {
    width: 100%;
    height: 100%
  }

  .inverse{
    flex-direction: column-reverse;
  }

  .testimonial-text p {
    font-size: 21px;
  }
}

@media screen and (max-width: 900px) {
  .input-box {
    margin: 0px;
    width: 60%;
  }

  .universul {
    padding-inline: 84px;
  }

  .contact-icon-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contact-icon-text img{
    display:flex;
  }

  .logo-magic {
    width:105px;
    height:68px;
  }

  .contact img{
    margin-top: 6px; 
    margin-inline:4px;
   
  }

  .navbar {
    padding-left: 84px;
    padding-right: 84px;
  }

  .testimoniale {
    padding-inline: 84px
  }

  .magic-Logo img {
    margin-top: 13px;
  }

  .contact {
    width: 100%;
  }

  .map {
    width: 100%;
  }

  .cursuri {
    padding: 60px 0;
    text-align: center;
    width: 90%;
    margin: auto;
  }

  .cursuri h2 {
    font-size: 26px;
  }

  .formular {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formular-div form {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  .formular-text h2 {
    width: 100%;
    text-align: center;
  }

  .alegi-swiper {
    width: 100%;
  }

  .section-flex {
    padding-left: 84px;
    padding-right: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .traineri {
    margin-top: 70px;
    width: 100%;
  }

  .dezvolti {
    width: 100%;
  }

  .traineri-swiper {
    width: 100vw;
    height: fit-content;
  }

  .dezvolti h2 {
    font-size: 28px;
  }

  header {
    height: 100vh;
    max-width: fit-content;
    padding-inline: 84px;
    /* background-color: green ; */
  }

  .header-wrap {
    width: 100%;
  }

  .container {
    max-width: 900px;
    width: 100%;
  }

  .nav-container {
    display: block;
    align-items: center;
  }

  .menu-title {
    height: fit-content;
    position: absolute;
    right: 65px;
    top: 25px;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .navbar .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
  }

  .header-button {
    font-size: 20px;
    padding: 2rem;
    font-weight: 700;
    width: 300px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container input[type="checkbox"]:checked~.logo {
    display: none;
  }

  .content-d {
    display: none;
  }

  .content-m {
    display: block;
  }

  .list-trainers {
    padding-inline: 84px;
  }

  .swiper-wrapper {
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .universul-option-p{
    display:none;
  }

  .testimonial-text p {
    font-size: 17px;
  }
  
  .testimoniale {
    padding-inline: 36px
  }

  .universul {
    padding-inline: 36px;
  }

  .section-flex {
    padding-inline: 36px
  }

  .list-trainers {
    padding-inline: 0px;
  }

  .navbar {
    padding-inline: 36px
  }

  .footer-flex {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
  }

  .menu-footer {
    text-align: center;
  }

  .footer-social {
    margin: auto;
  }

  .logo-magic {
    margin: auto;
  }

  .contact h2 {
    font-size: 34px;
    text-align: center;
  }


  .contact p {
    font-size: 20px;
    text-align: center;
  }

  .map iframe {
    height: 400px;
  }

  .despre {
    width: 100%;
    margin: auto;
  }

  .despre img {
    width: 100%;
    height: auto;
  }

  .content2-d {
    display: none;
  }

  .content2-m {
    display: block;
  }

  /* .testimoniale-flex img {
    width: 100%;
    height: auto;
  } */

  .testimoniale-wrap h2 {
    font-size: 28px;
    text-align: center;
  }

  .testimoniale-wrap hr {
    margin: auto;
  }

  .trainer-slide {
    height: 270px;
  }

  .trainer-info {
    bottom: 90px;
  }

  .trainer-presentation {
    height: 50vh;

  }
}

@media screen and (max-width : 600px) {
  .header-hr {
    display: flex;
  }


  #headerDetails {
    width: fit-content;
    margin-top: 100px;
  }

  #headerDetails h2 {
    font-size: 32px;
    text-align: center;
    margin-block: 10px;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .magic-Logo {
    display: none;
  }

  .video-trainer iframe {
    height: 50%;
  }
}

@media screen and (max-width : 500px) {
  .footer-social {
    gap:15px;
  }

  .slider::before,
  .slider::after {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) -20%, rgba(0, 0, 0, 0) 100%);
  }

  .menu-title {
    font-size: 15px;
    top: 28px;
  }

  .div_1_citeste_mai_mult {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .div_1_citeste_mai_mult span {
    display: none;
  }

  .div_1_citeste_mai_mult img {
    display: flex;
  }

  .header-hr {
    display: none;
  }

  .header-description {
    display: none;
  }

  #headerDetails {
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 150px;
  }

  .semi-title {
    display: flex;
    justify-content: center;
  }

  header {
    padding-inline: 36px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  hr {
    width: 70%;
  }

  .dezvolti-wrap {
    min-width: 100%;
    height: fit-content;
    font-size: 16.5px;
  }

  .traineri p {
    width: fit-content;
  }

  .start-video {
    width: 100%;
    height: 14rem;

  }

  .trainer-info {
    bottom: 40px;
  }

  .trainer-info hr {
    margin-block: 10px;
  }

  .trainer-info h3 {
    margin: 7px;
    font-size: 20px;
    ;
  }

  .trainer-info p {
    font-size: 18px;
    ;
  }

  .slide {
    height:260px;
     width:180px; 
  }

  .maskCoverTraineri::after,
  .maskCoverTraineri::before  {
    width: 100px;
  }
  
}